{% extends "layout/header.html" %}
{% load static %}

{% block title %}ActivityLog{% endblock title %}
{% block navLog %}
    style="color: #fb4;"
{% endblock navLog %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container card log">
    <div class="card-header">
        <h2>Log info</h2>
    </div>
    <div class="card-search">
        <form
            style="display: flex; gap: 10px;">
            <input type="text" name="search" placeholder="Search">
            <button type="button" onclick="submitForm()">Search</button>
        </form>
        <label for="limit">Number of rows:</label>
        <select name="limit" id="limit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>
    <div class="card-body">
    {% for row in console %}
        {{ row }} <br>
    {% endfor %}
    </div>
</div>
{% endblock content %}
