{% extends "layout/header.html" %}
{% load static %}

{% block title %}ActivityLog{% endblock title %}
{% block navLog %}
    style="color: #fb4;"
{% endblock navLog %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block js %}
<script>
    var row = document.getElementById('row');
    row.addEventListener('change', rowChange);

    function rowChange() {
        var inputRow = document.getElementById('input-row');
        inputRow.value = row.value
    };

</script>
{% endblock js %}

{% block content %}
<div class="container card log">
    <div class="card-header">
        <h2>Log info</h2>
    </div>
    <div class="card-search">
        <form
            style="display: flex; gap: 10px;">
            <input type="text" name="search" placeholder="Search">
            <input type="hidden" name="row" value="5" id="input-row">
            <button type="submit">Search</button>
        </form>
        <label for="row">Number of rows:</label>
        <select name="row" id="row">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>
    <div class="card-body">
    {% for row in console %}
        {{ row }} <br>
    {% endfor %}
    </div>
</div>
{% endblock content %}
